{
    "privateKey": "",
    "agentRegistryAddr": "",
    "missionBoardAddr": "",
    "privy_app_id": "",
    "privy_verification_key": "",
    "pinataApiKey": "",
    "pinataSecretKey": "",
    "openaiApiKey": "",
    "mongoUri": "mongodb://root:example@mongo1:27017,mongo2:27018/?replicaSet=rs0&authSource=admin"
}